[{apns, [
  {apple_host, "gateway.push.apple.com"},
  {apple_port, 2195},
  {cert_file, "/opt/nginx/html/trunk/applePush/ck_production_nightboard.pem"},
  {key_file, undefined},
  {cert_password, "CharlEYbravOsOleio8086_APNS"},
  {timeout, 30000},
  {feedback_port, 2196},
  {feedback_host, "feedback.push.apple.com"},
  {feedback_timeout, 18000000}
]}].